body {
  font-family: Arial;
  background: #f5f5f5;
  padding: 20px;
}

header {
  background: #ffe600;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

#catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
  gap: 15px;
  margin-top: 20px;
}

.producto {
  background: white;
  padding: 15px;
  border-radius: 5px;
}
